<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Available Waiters</title>
    <link rel="stylesheet" href="/css/admin.css">
  </head>
  <body>
  <div class="row d-flex justify-content-between col-md-12 col-lg-12 col-sm-12 center-block" data-children=".item">
    <div class="card text-white mb-2 mb-2 col-md-4 col-sm-12  {{mondayStyle}}" style="max-width: 20rem;">
      <div class="card-header"><span class="badge badge-secondary ml-2">{{mondayCounter}}</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#mondayCollapse" aria-expanded="false" aria-controls="collapse1">Monday <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white mb-2 col-md-6 col-sm-12  {{tuesdayStyle}}" style="max-width: 20rem;">
      <div class="card-header"><span class="badge badge-secondary ml-2">{{tuesdayCounter}}</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#tuesdayCollapse" aria-expanded="false" aria-controls="collapse2">Tuesday <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white mb-2 mb-2 col-md-6 col-sm-12  {{wednesdayStyle}}" style="max-width: 20rem;">
      <div class="card-header"><span class="badge badge-secondary ml-2">{{wednesdayCounter}}</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#wednesdayCollapse" aria-expanded="false" aria-controls="collapse3">Wednesday <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white mb-2 mb-2 col-md-6 col-sm-12  {{thursdayStyle}}" style="max-width: 20rem;">
      <div class="card-header"><span class="badge badge-secondary ml-2">{{thursdayCounter}}</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#thursdayCollapse" aria-expanded="false" aria-controls="collapse4">Thursday <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white mb-2 mb-2 col-md-6 col-sm-12  {{fridayStyle}}" style="max-width: 20rem;">
      <div class="card-header"><span class="badge badge-secondary ml-2">{{fridayCounter}}</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#fridayCollapse" aria-expanded="false" aria-controls="collapse5">Friday <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white mb-2 mb-2 col-md-6 col-sm-12  {{saturdayStyle}}" style="max-width: 20rem;">
      <div class="card-header"><span class="badge badge-secondary ml-2">{{saturdayCounter}}</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#saturdayCollapse" aria-expanded="false" aria-controls="collapse6">Saturday <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white mb-2 mb-2 col-md-6 col-sm-12  {{sundayStyle}}" style="max-width: 20rem;">
      <div class="card-header"><span class="badge badge-secondary ml-2">{{sundayCounter}}</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#sundayCollapse" aria-expanded="false" aria-controls="collapse7">Sunday <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>
</div>


    <div class="collapse mt-5 mx-5" id="mondayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="displayDaysNames">Monday</h2>
        <div class="row">
          {{#each mondayNames}}
            <div class="col-md-3 col-lg-2 mt-4">
              <li id="names">{{this}}</li>
            </div>
          {{/each}}
        </div>
      </div>
    </div>


    <div class="collapse mt-5 mx-5" id="tuesdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="displayDaysNames">Tuesday</h2>
        <div class="row">
          {{#each tuesdayNames}}
            <div class="col-md-3 col-lg-2 mt-4">
                <li id="names">{{this}}</li>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="wednesdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="displayDaysNames">Wednesday</h2>
        <div class="row">
          {{#each wednesdayNames}}
            <div class="col-md-3 col-lg-2 mt-4">
              <li id="names">{{this}}</li>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="thursdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="displayDaysNames"> Thursday</h2>
        <div class="row">
          {{#each thursdayNames}}
            <div class="col-md-3 col-lg-2 mt-4">
              <li id="names">{{this}}</li>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="fridayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class=>Friday</h2>
        <div class="row">
          {{#each fridayNames}}
            <div class="col-md-3 col-lg-2 mt-4">
              <li id="names">{{this}}</li>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="saturdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Saturday</h2>
        <div class="row">
          {{#each saturdayNames}}
            <div class="col-md-3 col-lg-2 mt-4">
              <li id="names">{{this}}</li>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="sundayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Sunday</h2>
        <div class="row">
          {{#each sundayNames}}
            <div class="col-md-3 col-lg-2 mt-4">
              <li id="names">{{this}}</li>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
  </html>
  <form class="reset" action="/admin/resetWaiters" method="post">
    <p>For new roaster update</p>
    <input type="submit" name="name" value="Reset">
  </form>
